
body {
    background-color: rgb(3, 9, 14);
}

.mainbody {
    background-color: rgb(13, 20, 29);
    color: rgb(255, 177, 132);
    outline: 0.1em solid rgb(9, 15, 22);
    font-family: monospace;
    font-size: large;
    text-align:center;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 1em;
    box-sizing: border-box;
    padding: 0.5em;
    position:relative;
    border-radius: 1em;
}

button {
    outline: none;
    border: none;
}

.topbar button {
    background-color: inherit;
    color: rgb(255, 206, 132);
}

.topbar button:hover {
    color: rgb(159, 132, 255);
}

.topbar {
    width: 50%;
    height: 2.5em;
    background-color: rgb(3, 9, 14);
    
    color: rgb(255, 206, 132);
    font-family:'Courier New'; 
    font-size: 1em;
    font-weight: normal;
    align-items: center;

    display: flex;
    flex-flow:row;
    gap: 1em;
    padding-left: 1em;

    box-sizing: border-box;
    margin: auto;
    border-radius:1em;

    outline-width: 0.1em;
    outline-color: rgb(163, 147, 112);
    outline-style: solid;
}

.title {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.06em;
    -webkit-text-stroke-color: rgb(247, 5, 166);
    font-size: 1.2em;
    text-align: center;
}

::selection {
    background-color: rgb(56, 56, 105);
    color: greenyellow;
}