
body {
    background-color: rgb(9, 17, 24);
}

.mainbody {
    background-color: rgb(25, 35, 49);
    color: rgb(255, 143, 78);
    outline: 0.1em solid rgb(9, 15, 22);
    font-family: monospace;
    font-size: 1.1em;
    text-align:left;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.02em;
    padding-top: 0.02em;

    position:relative;
    border-radius: 1em;
}

button {
    outline: none;
    border: none;
}

.topbar button {
    background-color: inherit;
    color: inherit;
}

.topbar button:hover {
    color: rgb(132, 161, 255);
}

.topbar {
    width: 50%;
    height: 2.5em;
    background-color: rgb(3, 9, 14);
    
    color: rgb(117, 202, 5);
    font-family:'Courier New'; 
    font-size: 1em;
    font-weight: normal;
    align-items: center;

    display: flex;
    flex-flow:row;
    gap: 1em;
    padding-left: 1em;

    box-sizing: border-box;
    margin: auto;
    border-radius:1em;

    outline-width: 0.1rem;
    outline-color: rgb(51, 255, 0);
    outline-style: dashed;
}

.otherbody {
    background-color: rgb(3, 9, 14);
    color: rgb(202, 255, 58);
    outline: 0.1em solid rgb(9, 15, 22);
    font-family: monospace;
    font-size: 1.1em;
    text-align:left;
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.02em;
    padding-top: 0.02em;

    position:relative;
    border-radius: 1em;


    outline-width: 0.1rem;
    outline-color: rgb(81, 255, 0);
    outline-style: dashed;
}

.title {
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.06em;
    -webkit-text-stroke-color: rgb(53, 90, 255);
    font-size: 1.2em;
    text-align: center;
}

::selection {
    background-color: rgb(56, 56, 105);
    color: greenyellow;
}

.hidetext {
    color: grey;
}