:root {
    --ep-background-color: rgba(170, 0, 250, 0.05);
    --ep-border-color: rgb(190, 0, 230);
    --ep-box-shadow: light-dark(rgb(230, 190, 255), rgb(40, 0, 80)) 0 0 20px;
    --ep-text-color: light-dark(rgb(120, 80, 180), rgb(205, 190, 225));
    --ep-text-shadow: light-dark(rgb(205, 190, 245), rgb(120, 80, 180)) 0 0 14px;

    --er-background-color: rgba(240, 0, 0, 0.05);
    --er-border-color: rgb(250, 60, 60);
    --er-box-shadow: light-dark(rgb(255, 220, 220), rgb(100, 0, 0)) 0 0 20px;
    --er-text-color: light-dark(rgb(220, 0, 0), rgb(225, 170, 170));
    --er-text-shadow: light-dark(rgb(255, 210, 210), rgb(130, 0, 0)) 0 0 14px;
}
