
/* Dark Palette 1 */
:root {
    --bg-1-color: light-dark(rgb(255, 255, 255), rgb(8, 4, 13));
    --bg-2-color: light-dark(rgb(240, 240, 240), rgb(15, 12, 40));
    --bg-3-color: light-dark(rgb(235, 235, 235),rgb(30, 55, 80));
    --accent-1-color: light-dark(rgb(20, 20, 50), rgb(200, 190, 200));
    --accent-2-color: light-dark(rgb(75, 85, 70), rgb(160, 160, 170));
    --accent-3-color: light-dark(rgb(170, 180, 190), rgb(120, 120, 135));
    --spice-1-color: light-dark(rgb(190, 180, 170), rgb(15, 25, 40));

    --inner-accent-1-color: light-dark(rgb(0, 0, 0), cyan);
    --inner-accent-2-color: light-dark(rgb(40, 50, 70), rgb(110, 160, 230));
    --inner-spice-1-color: light-dark(transparent, rgb(0, 100, 180));
}
